@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  height: 100vh;
  /* width: 70%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  font-family: "Poppins", sans-serif;
}

.border_page {
  border: 7px solid black;
  padding: 10px;
  width: 340px;
}

.border_page[data-sizing="intrinsic"] {
  width: min-content;
}

.buttont {
  margin-top: 20px;
  display: flex;
  /* justify-content: center; */
  font-size: 18px;
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle_label {
  margin-right: 10px;
}

p {
  font-size: 90px;
  text-transform: uppercase;
}
